.pfizer-logo {
  cursor: pointer;
}

.box {
  padding: 2px;
  border: dashed;
  width: 130%;
  height: 100%;
  border-radius: 6px;
  border-color: grey;
  border-width: thin;
  background-color: aliceblue;
}

.content {
  transform: translate(45%, 50%);
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.c-blue {
  color: #1976d2;
}

.f-bold {
  font-weight: bold;
}

.boxContent {
  text-align: center;
  margin-top: 12px;
}

.uploadButton {
  background-color: #1976d2;
}

.upload {
  position: absolute;
  top: 50%;
  bottom: 30%;
  /* transform: translate(180%); */
}
.attach-file {
  background: lightgray;
  margin-bottom: 2px;
}
.attach-file-icon {
  float: right;
}
.next-button {
  float: right;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.next-button.css-sghohy-MuiButtonBase-root-MuiButton-root {
  border-radius: 30px;
  margin-top: 20px;
}
h2#modal-modal-title {
  color: blue;
  text-align: center;
}

.MuiBox-root.css-1wnsr1i {
  border-radius: 25px;
  border: none;
}
p#modal-modal-description {
  border: 1px solid grey;
}

.modal-content {
  margin-bottom: 2px;
}
