.pfizer-logo {
  cursor: pointer;
}
.heading-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  display: inline-flex;
  color: blue;
}
.faq {
  margin-left: 10px;
}
